#popup_window .blanket {
    display: none;
    background-color : #111;
    opacity : 0.65;
    filter: alpha(opacity=65);
    position : absolute;
    z-index : 9001;
    top : 0px;
    left : 0px;
    width : 100%;
}

#popup_window .dialog {
    display: none;
    background-color: #bbf66f;
    color: #000000;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.85;
    filter: alpha(opacity=85);
    padding: 20px;
    position: absolute;
    z-index: 9002;
    width: 150px;
    height: 100px;
}

.dialog .cancel_btn {
    cursor: pointer;
    cursor: hand;
    float: right;
    font-size: 18px;
    font-weight: bold;
}
    
.diglog .content {
}

.content .title {
    font-weight: bold;
}

.content .text {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
}

.dialog .btn_container {
    background-color: #bbf66f;
    top: 30px;
}

.btn_container .ok_btn {
    border-radius: 2px 2px 2px 2px;
    background-color: #ffffff;
    padding: 5px 15px 5px 15px;
    font-family:'Nokia Sans Wide', arial, hsans-serif;
    font-size:11px;
    font-weight:bold;
    float: right;
    cursor: pointer;
    cursor: hand;
}